/* control */
#control {
  
}

/* row */
#flex-row {
  display: flex;
  flex-direction: row;
}

#flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  
  height: 500px;
}

/* column */
#flex-column {
  display: flex;
  flex-direction: column;
}

#flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
