#nowrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#wrap-reverse-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

#wrap-reverse-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}