#container {
  display: flex;
  flex-direction: row;
}

#container > .item::before {
  content: '';
}

#item-1 {
  order: 1;
  opacity: 0.2;
}

#item-2 {
  order: 0;
  opacity: 0.4;
}

#item-3 {
  opacity: 0.6;
}

#item-4 {
  order: 2;
  opacity: 0.8;
}

#item-5 {
  opacity: 1;
}