<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="column">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

  <!-- config -->
  <script>
    window.HABEMUS_DASHBOARD_URI = '{{ site.habemus.dashboard_url }}';
    window.HABEMUS_TRY_URI       = '{{ site.habemus.try_url }}';
  </script>

  <!-- lib -->
  <script src="{{ site.url }}/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.url }}/resources/scripts/lib/habemus-buttons.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ site.url }}/resources/scripts/header.js" type="text/javascript" charset="utf-8"></script>

</html>
