---
layout: habemus-page
---

<div class="home">

  <h1 class="page-heading">{{ site.data.t[page.lang].chooseProjectToStart }}</h1>

  <ul class="post-list">

    <!-- render only posts with the same language -->
    {% assign langPosts=site.posts | where:"lang", page.lang %}

    {% for post in langPosts %}
      <li class="box-style box">

        <div class="post-card">
          {% if post.image-thumb %}
          <div class="img-container">
            <img
              src="{{ post.image-thumb | prepend: site.url }}"
              alt="{{ post.alt-image }}"
              class="full-width-img">
            <div class="overlay-img">
              <div class="actions column">
                <a
                  class="post-link"
                  href="{{ post.url | prepend: site.url }}">
                  {{ site.data.t[post.lang].viewDetails }}
                </a>
                <a
                  class="primary habemus-button"
                  data-action="deploy"
        	        data-template-url="{{ site.url }}/resources/starter-projects/{{ post.ref }}/website.zip">
                  {{ site.data.t[post.lang].deployToHabemus }}
                </a>
              </div>
            </div>
            {% endif %}
          </div>

          <h2>
            {{ post.title }}
          </h2>

          <span class="post-meta">
            {{ site.data.t[page.lang].developedBy }} <strong>{{ post.author }}</strong>
          </span>

          <p>
            {{ post.description }}
          </p>
        </div>

      </li>
    {% endfor %}
  </ul>

</div>
