.post-list {
	width: 100%;
	margin-left: -10px;
	// margin-right: 10px;
	list-style: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	@include media-query($on-mobile) {
		flex-direction: column;
	}

	> li {
		box-sizing: border-box;
		width: 32%;
		min-width: 250px;
		flex-shrink: 0;

		@include media-query($on-mobile) {
			width: 100%;
		}

    .post-meta {
    	font-size: 14px;
			display: block;
			margin-bottom: 10px;
    	color: $grey-color-dark;
    	font-weight: 300;
    }

    .post-card {
    	display: block;
    	// font-size: 24px;

			> .img-container {
				width: 100%;
				// height: 200px;
				overflow: hidden;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
				position: relative;

				.overlay-img {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: rgba(255,255,255,0.8);
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					opacity: 0;
					transition: opacity ease 0.3s;

					> button {
						width: 70%;
						margin: 6px;
					}
				}
			}

			> img {
				// object-fit: cover;
			}

			> h2 {
				margin-top: 20px;
				margin-bottom: 10px;
				line-height: 1.3;
				font-size: 18px;
				font-weight: bold;
				font-family: "Open Sans", sans-serif;
				color: #3C3C3C;

				@include media-query($on-palm) {
					font-size: 20px;
				}

				@include media-query($on-mobile) {
					font-size: 16px;
				}
			}

			> p {
				font-size: 14px;
				font-weight: 300;

				@include media-query($on-mobile) {
					font-size: 14px;
				}
    	}

		// a {
		// 	color: $text-color;
		// 	}

			// &:hover {
			// 	color: $grey-color-dark;
			// }

			&:hover {
				> .img-container {
					.overlay-img {
						opacity: 1;
					}
				}
			}
		}
	}
}
