/* @max-width: 1170px;
** @habemus-gray-dark: #6d6d6d;
** @habemus-dark: #3c3c3c;
** @habemus-off-white: #f5f5f5;
**/

/**
 * Site header
 */
// disable scroll on body when menu is open
body.scroll-disabled {
  overflow: hidden;
}

body[data-previewer="active"] {
  #header {
    display: none;
  }
}

// fixed header and responsive header
#header {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  background: none;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;

  #header-container {
    margin: 0 auto;
    height: 48px; /* total height must be 104px */
    padding-top: 44px;
    padding-bottom: 12px;
    width: 90%;
    max-width: 1170px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  
  #logo {
    position: relative;
    z-index: 12;
    
    img {
      width: 126px;
    }
    
    #logo-dark {
      display: block;
    }
    
    #logo-light {
      display: none;
    }
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #6d6d6d;
    letter-spacing: 1px;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-bottom: 0;
        
        position: relative;
        z-index: 12;

        li {
          
          list-style: none;
        
          a {
            display: block;
            text-decoration: none;
            margin-right: 32px;
            padding: 2px;
            transition: all 0.3s ease;
            color: #6d6d6d;
  
            &:hover {
              color: #3c3c3c;
            }
  
            &.active {
              color: #3c3c3c;
              font-weight: 700;
            }
          }
        }
      }
      
      #menu-overlay {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        background-color: #f5f5f5;
      }
    }

    .language-buttons {
      margin-left: 32px;
      font-size: 12px;
      
      a {
        color: #6d6d6d;
        padding: 8px 4px 8px 0;
        
        &.active {
          font-weight: 600;
          color: #3c3c3c;
        }
      }
      
      span {
        display: inline-block;
        padding-right: 4px;
      }
    }
  }
  
  // responsive header for small screens
  #menu-right-command {
    display: none;
    
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    
    border: none;
    outline: none;
    
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 22px;
      background-color: #3c3c3c;
      opacity: 1;
      left: 4px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
    
    span:nth-child(1) {
      top: 7px;
      transform-origin: left center;
    }
    
    span:nth-child(2) {
      top: 14px;
      transform-origin: left center;
    }
    
    span:nth-child(3) {
      top: 21px;
      transform-origin: left center;
    }
  }
  
  &.open-menu,
  &.open-menu.light {
    
    #logo {
      z-index: 22;
      
      #logo-dark {
          display: block;
        }
        
        #logo-light {
          display: none;
        }
    }

    #menu {
      position: fixed;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        margin-bottom: 32px;
        
        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          li a {
            margin-right: 0;
            margin-bottom: 8px;
            padding: 4px;
            color: #6d6d6d;
            
            &.active {
              color: #3c3c3c;
            }
          }
        }
        
        #menu-overlay {
          display: block;
        }
      }
      
      .language-buttons {
        z-index: 20;
        margin-left: 0;
        
        a {
          color: #6d6d6d;

          &.active {
            color: #3c3c3c;
          }
        }
      }
    }
    
    #menu-right-command {
      z-index: 22;
      display: block;
      
      span {
        background-color: #6d6d6d;
      }
    
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 7px;
        left: 7px;
      }
      
      span:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      
      span:nth-child(3) {
        transform: rotate(-45deg);
        top: 23px;
        left: 7px;
      }
      
      &:hover {
        span {
          background-color: #3c3c3c;
        }
      }
    }
  }
  

  // header after scrolling
  &.smaller {
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    #header-container {
      height: 48px; /* total height must be 70px */
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }

  // light letters on header
  &.light {

    #logo {
      #logo-dark {
        display: none;
      }
      
      #logo-light {
        display: block;
      }
    }
    
    #menu {
      nav ul li a {
        color: #f5f5f5;
        
        &.active {
          color: white;
        }
      }
      
      .language-buttons {
        a {
          color: #f5f5f5;

          &.active {
            color: white;
          }
        }
      }
    }
    
    #menu-right-command {
      span {
        background-color: #f5f5f5;
      }
    }
  }
}

// WIDTH FROM 361 TO 680
@media screen and (min-width: 361px) and (max-width: 800px) {

  #header {
    #header-container {
      width: 86%;
      height: 48px; /* total height must be 84px */
      padding-top: 34px;
      padding-bottom: 2px;
    }

    #menu {
      display: none;
    }

    #menu-right-command {
      display: block;
      
      &.close-command {
        display: block;
      }
    }

    &.smaller {

      #header-container {
        height: 48px; /* total height must be 60px */
        padding-top: 5px;
        padding-bottom: 7px;
      }
    }
  }
}

// WIDTH FROM 0 TO 360
@media screen and (max-width: 360px) {

  #header {
    #header-container {
      height: 48px; /* total height must be 66px */
      padding-top: 16px;
      padding-bottom: 2px;
    }
    
    #logo {
      img {
        width: 100px;
      }
    }

    #menu {
      display: none;
    }

    #menu-right-command {
      display: block;
      
      &.close-command {
        display: block;
      }
    }
    
    &.smaller {
      #header-container {
        height: 48px; /* total height must be 50px */
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
  }
}
