---
layout: habemus-page
---

<div class="home">

  <h1 class="page-heading">{{ site.data.t[page.lang].chooseProjectToStart }}</h1>

  <ul class="post-list">

    <!-- render only posts with the same language -->
    {% assign langPosts=site.posts | where:"lang", page.lang %}

    {% for post in langPosts %}
      <li class="box-style box">

        <div class="post-card">
          {% if post.image-thumb %}
          <div class="img-container">
            <img
              src="{{ post.image-thumb }}"
              alt="{{ post.alt-image }}"
              class="full-width-img">
            <div class="overlay-img">
              <div class="actions column">
                <a
                  class="post-link"
                  href="{{ post.url }}">
                  {{ site.data.t[post.lang].viewDetails }}
                </a>
                <a
                  class="primary habemus-button"
                  target="_blank"
                  data-action="deploy"
        	        data-template-url="{{ site.url }}/resources/starter-projects/{{ post.ref }}/website.zip">
                  {{ site.data.t[post.lang].deployToHabemus }}
                </a>
              </div>
            </div>
            {% endif %}
          </div>

          <h2>
            {{ post.title }}
          </h2>

          <span class="post-meta">
            {{ site.data.t[page.lang].developedBy }} <strong>{{ post.author }}</strong>
          </span>

          <p>
            {{ post.description }}
          </p>
        </div>

        <!--
        <div class="share-page share-page-post">
          {{ site.data.t[page.lang].shareThisOn }}
          <a
            href="https://twitter.com/intent/tweet?text={{ post.title | strip_html }}&url={{ post.url | prepend: site.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
            rel="nofollow"
            target="_blank"
            title="Share on Twitter">
            <span class="icon icon--twitter">
              {% include icon-twitter.svg %}
            </span>
            Twitter
          </a>
          <a
            href="https://facebook.com/sharer.php?u={{ post.url | prepend: site.url }}"
            rel="nofollow"
            target="_blank"
            title="Share on Facebook">
            <span class="icon icon--facebook">
              {% include icon-facebook.svg %}
            </span>
            Facebook
          </a>
          <a
            href="https://plus.google.com/share?url={{ post.url | prepend: site.url }}"
            rel="nofollow"
            target="_blank"
            title="Share on Google+">
            <span class="icon icon--google">
              {% include icon-google.svg %}
            </span>
            Google+
          </a>
        </div>
      -->
      </li>
    {% endfor %}
  </ul>

</div>
